@{
  Layout = "_Layout";
}
@if (User.Identity.IsAuthenticated)
{
  <nav id="navbar">
    <button>Signed in as @User.Identity.Name.
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" class="btn btn-danger" value="Log out" />
      }
    </button>
  </nav>
  <hr>
}
@if (!User.Identity.IsAuthenticated)
{
  <nav id="navbar">
    <button>Not signed in.
      @using (Html.BeginForm("Index", "Account"))
      {
        <input type="submit" class="btn btn-primary" value="Log in" />
      }
    </button>
  </nav>
  <hr>
}


<h1>Welcome to Pierre's Bakery!</h1>
<h4>All users may see a list of flavors and treats.</h4>
<h4>Users must sign in to edit treats and flavors.</h4>

<p>@Html.ActionLink("Register or Login", "Index", "Account")</p>
<p>@Html.ActionLink("See your treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See your flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("View All Flavors and Treats from All Users", "ViewAll", "Home")</p>