@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model IEnumerable<Bakery.Models.Treat>

@if (User.Identity.IsAuthenticated)
{
  <nav id="navbar">
    <button>Signed in as @User.Identity.Name.
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" class="btn btn-danger" value="Log out" />
      }
    </button>
  </nav>
  <hr>
}
else if (!User.Identity.IsAuthenticated)
{
  <nav id="navbar">
      @using (Html.BeginForm("Login", "Account"))
      {
        <input type="submit" class="btn btn-danger" value="Log in" />
      }
  </nav>
  <hr>
}

<h1>Treats for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>@User.Identity.Name, you have not added any treats yet!</h3>
}
<div id="footer">
  <button class="bottom">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="bottom">@Html.ActionLink("Add new treat", "Create")</button>
</div>