@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model IEnumerable<Bakery.Models.Treat>

<h1>Treats for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>@User.Identity.Name, you have not added any treats yet!</h3>
}
<div id="footer">
  <button class="bottom">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="bottom">@Html.ActionLink("Add new treat", "Create")</button>
</div>