@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor;

@if (User.Identity.IsAuthenticated)
{
  <nav id="navbar">
    <button>Signed in as @User.Identity.Name.
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" class="btn btn-danger" value="Log out" />
      }
    </button>
  </nav>
  <hr>
}


<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not assigned to any treats</p>
}
else
{
  <h4>Treats the flavor is assigned to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new {id = join.Treat.TreatId}, null)</li>
  }
  </ul>
}

<div id="footer">
  <button  class="bottom">@Html.ActionLink("Back to flavors", "Index")</button>
  <button  class="bottom">@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</button>
  <button  class="bottom">@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</button>
</div>