@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

@if (User.Identity.IsAuthenticated)
{
  <nav id="navbar">
    <button>Signed in as @User.Identity.Name.
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" class="btn btn-danger" value="Log out" />
      }
    </button>
  </nav>
  <hr>
}

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorName)
  @Html.EditorFor(model => model.FlavorName)

  <input type="submit" value="Save" />
}

<div id="footer">
  <button  class="bottom">@Html.ActionLink("Cancel", "Details", new { id = Model.FlavorId })</button>
  <button class="bottom">@Html.ActionLink("Back to list", "Index")</button>
</div>