@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model IEnumerable<Bakery.Models.Flavor>

<h1>Flavors for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
} 
else
{
  <h3>@User.Identity.Name, you have not added any treats yet!</h3>
}
<div id="footer">
  <button class="bottom">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="bottom">@Html.ActionLink("Add new flavor", "Create")</button>
</div>